$primary-font: $roboto;
$primary-font-light: $roboto-light;
$primary-font-regular: $roboto-regular;
$primary-font-bold: $roboto-bold;

$secondary-font: $playfair;
$secondary-font-light: $playfair-light;
$secondary-font-regular: $playfair-regular;
$secondary-font-bold: $playfair-bold;




