.footer {
    background-color: $raisin-black;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    


    &__img {
        color: $white;
        
    }
}